<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Cadastro de título</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

	<title>Cadastro de título</title>
	
</head>
<body>

     <nav class="navbar  navbar-static-top">
        <a class="navbar-brand" href="#">
          <img alt="Expresso Biblioteca" src="/images/logo.png" />
       </a>
          
    </nav>

    <form class="form-horizontal" method="POST" action="/titulo">
    	<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
    		<span th:text="${mensagem}">Título salvo com sucesso!!!</span>
    	</div>
    	
    
   <div class="panel panel-default">
    	<div class="panel-heading">
    		  <div class="clearfix">
	   	   	<a class="btn btn-link aw-link-panel" href="/titulo/novo">Voltar para pesquisa</a>
	   			</div>
	   </div>
    	
    		<div class="panel-body">
				<div class="form-group">
					<label for="nome" class="col-sm-2 control-label">Nome:</label>
					<div class="col-sm-3"> 
						<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome "/>
				</div>
			</div>
				
	<div class="form-group">
			<label for="livro" class="col-sm-2 control-label">Livro:</label>
			<div class="col-sm-3"> 
			<input type="text" class="form-control" id="livro" name="livro"placeholder="Nome do Livro"/>
		</div>
	</div>
				
		<div class="form-group">
					<label for="datasaida" class="col-sm-2 control-label">Data de Saída:</label>
					     <div class="col-sm-2">  
						<div class='input-group date' id='datasaida'>
                         <input type='text' class="form-control" name="datasaida" placeholder="DD/MM/YYYY" />
                         <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
				</div>
		</div>
				
		<div class="form-group scritp">
				<label for="dataentrada" class="col-sm-2 control-label">Data de Entrada:</label>
					<div class="col-sm-2">  
						<div class='input-group date' id='dataentrada'>
                         <input type='text' class="form-control" name="dataentrada" placeholder="DD/MM/YYYY" />
                         <span class="input-group-addon"> <span class="glyphicon glyphicon-calendar"></span>
                    </span>
				</div>
			</div>
	</div>
				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Status:</label>
					<div class="col-sm-2">
						<select class="form-control" name="StatusTitulo">
							<option th:each="status : ${todosStatusTitulo}" th:value="${status}" th:text="${status.nome}"></option>
                    	</select>
                    </div>
				</div>
				
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
    	</div>

    
    
    
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>


 <script>
  $(document).ready(function(){
    var date_input=$('input[name="datasaida"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    date_input.datepicker({
      format: 'dd/mm/yyyy',
      container: container,
      todayHighlight: true,
      autoclose: true,
    })
  })
          </script>

 <script>
  $(document).ready(function(){
    var date_input=$('input[name="dataentrada"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    date_input.datepicker({
      format: 'dd/mm/yyyy',
      container: container,
      todayHighlight: true,
      autoclose: true,
    })
  })
          
  
 </script>
 

       </form>
</body>
</html>